<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="phonelocker">

    <application>
        <activity
            android:name=".PhoneLocker"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <receiver
            android:name=".LockReceiver"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/lock_screen" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
